<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wibl App Gui</title>
    <style>
        body {
          margin: 0;
        }
  
        .form-container {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          flex-direction: column;
        }
    </style>
</head>
<body>
    <div class="form-container">
        <h1>WIBL Web App</h1>

        <div> 
	    <label for="post_id">Post a File Test</label>
	    <input type="text" name="filePost" id="userPost">
            <button id="filePost">Initialize Metadata File</button>
	</div>

	<script defer>
        document.getElementById('filePost').onclick = function postFile() {
          fileID = document.getElementById('userPost').value;
          fetch('', {
            method: 'POST',
	    redirect: 'follow',
            headers: {
                "Content-Type": "text/plain"
                },
                body: fileID
                });
        }
        </script>
        <br>

        <!-- File Query Form -->
        <form method="get" action="/download">
            <button type="submit">View Data and Results</button>
        </form>

	<br>

	<div>
		<label for="put_id">Enter File Name</label>
		<input type="text" name="filePut" id="userPut">
		<button id="filePut">Update File</button>
	</div>
	
	<script defer>
	document.getElementById('filePut').onclick = function putFile() {
	  fileID = document.getElementById('userPut').value;
	  fetch('', {
            method: 'PUT',
	    redirect: 'follow',
	    headers: {
	    	"Content-Type": "text/plain"
		},
		body: fileID
                });
	}
	</script>


	<br>

	<div>
		<label for="delete_id">Enter File Name</label>
		<input type="text" name="fileInput" id="userInput">
		<button id="fileInput">Delete File</button>
	</div>
	
	<script defer>
	document.getElementById('fileInput').onclick = function deleteFile() {
	  fileID = document.getElementById('userInput').value;
	  fetch('', {
            method: 'DELETE',
	    redirect: 'follow',
	    headers: {
	    	"Content-Type": "text/plain"
		},
		body: fileID
                });
	}


	</script>
  <br>
  <!-- File Query Form -->
  <form method="get" action="/download">
    <button type="submit">View Data and Results</button>
</form>
<br>

    </div>
</body>
</html>
