{% extends "base_nav.html" %}

{% load static %}
{% load plotly_dash %}

{% block content %}

<script>
    window.addEventListener('DOMContentLoaded', function () {

        const topMargin = 26;
        const heightIncrease = 29;

        const iframe = document.querySelector('iframe[src^="/django_plotly_dash/app/"]');
        if (iframe) {
            // Fix the iframe
            iframe.style.position = "absolute";
            iframe.style.top = `${topMargin}px`;
            iframe.style.left = "10px";
            iframe.style.right = "10px";
            iframe.style.width = "100vw";
            iframe.style.height = "130vh";
            iframe.style.border = "none";

            // Fix the outer div
            const wrapper = iframe.parentElement;
            if (wrapper) {
                wrapper.style.position = "absolute";
                wrapper.style.top = `${topMargin}px`;
                wrapper.style.width = "100vw";
                wrapper.style.height = "140vh";
                wrapper.style.padding = "0";
            }
        }
    });
</script>
<div id="dash-container">
    {% plotly_app name="Dashboard" %}
</div>

{% endblock %}