{% extends "base_nav.html" %}

{% load static %}
{% load plotly_dash %}

{% block content %}

<script>
    // 1440 x 651.695
    window.addEventListener('DOMContentLoaded', function () {

        const topMargin = 26;
        const heightIncrease = 29;

        const iframe = document.querySelector('iframe[src^="/django_plotly_dash/app/"]');
        if (iframe) {
            // Fix the iframe
            iframe.style.position = "absolute";
            iframe.style.top = `${topMargin}px`;
            iframe.style.left = "10px";
            iframe.style.right = "10px";
            iframe.style.width = "1440px";
            iframe.style.height = "120vh";
            iframe.style.border = "none";

            // Fix the outer div
            const wrapper = iframe.parentElement;
            if (wrapper) {
                wrapper.style.position = "absolute";
                wrapper.style.top = `${topMargin}px`;
                wrapper.style.width = "1440px";
                wrapper.style.height = "651.695px";
                wrapper.style.padding = "0";
            }
        }
    });
</script>
<div id="dash-container" style="overflow: hidden;">
    {% plotly_app name="Dashboard" %}
</div>

{% endblock %}