{% extends "base_nav.html" %}

{% load static %}

{% block content %}
    <script src="{% static 'frontend/js/SocketManager.js' %}"></script>
    <script src="{% static 'frontend/js/WIBLFileList.js' %}"></script>
    <script type="module" src="{% static 'frontend/js/WIBLDetailTable.js' %}"></script>
    <script type="module" src="{% static 'frontend/js/WIBLFileTable.js' %}"></script>
    <style>
        #detailTableBlock {
            position: fixed;
        }
    </style>
    <section class="container">
        <div class="columns">
            <div class="column is-half">
                <div class="box">
                    <span class="is-size-4 has-text-weight-semibold">WIBL files</span>
                    <div class="block">
                        <wibl-file-table id="wibl-file-table"
                                       url="{{ wsURL }}"
                                       stylesheet="{% static 'css/bulma-no-dark-mode.min.css' %}">
                        </wibl-file-table>
                        <span class="is-hidden" id="emptyMessage">No results for selected filters.</span>
                    </div>
                    <div class="block">
                        <button id="deleteButton" class="button">Delete Selected</button>
                        <button id="downloadButton" class="button">Download Selected</button>
                        <button class="button" id="showButton">Filter</button>
                    </div>
                    <div class="box is-hidden" id="filterSection">
                        <div class="block">
                            <button class="button" id="filterButton">Apply</button>
                            <button class="button" id="clearButton">Clear</button>
                        </div>
                        <div class="block">
                            <label for="dateInput">Date</label>
                            <input type="date" class="input" id="dateInput">

                            <label for="timeInput">Time ("HH:MM")</label>
                            <input type="text" class="input" id="timeInput">

                            <label for="platformInput">Platform</label>
                            <input type="text" class="input" id="platformInput">

                            <label for="loggerInput">Logger</label>
                            <input type="text" class="input" id="loggerInput">
                        </div>
                    </div>
                </div>
            </div>
            <div class="column is-half">
                <div class="box" id="detailTableBlock">
                    <wibl-detail-table id="wibl-detail-table"
                            url="{{ wsURL }}"
                            stylesheet="{% static 'css/bulma-no-dark-mode.min.css' %}">
                    </wibl-detail-table>
                </div>
            </div>
        </div>
    </section>

    <script>
        // Request WIBL file data from the WebSocket once the DOM is ready; do this here instead of in the
        // components to that the request is only sent once.
        setTimeout(() => {
            const wiblSockType = "wibl";
            const wiblSockUrl = "{{ wsURL }}" + wiblSockType + "/table";
            const wiblSock = SocketManager.getInstance(wiblSockUrl, wiblSockType);
            wiblSock.sendRequest("list-wibl-files");
        });
        const wiblFileTable = document.getElementById("wibl-file-table");

        wiblFileTable.addEventListener("click", (event) => {
            const path = event.composedPath();
            const check = path.find(el => el.tagName === "INPUT");
            if (!check) {
                const row = path.find(el => el.tagName === "TR");
                if (row) {
                    if (row.className !== "headerRow") {
                        const rows = wiblFileTable._shadow.querySelectorAll('tr');
                        rows.forEach(iter_row => {
                            if (iter_row.className === "is-selected") {
                               iter_row.setAttribute("class", "");
                            }
                        })
                        row.setAttribute("class", "is-selected");
                        setTimeout(() => {
                            const wiblSockType = "wibl";
                            const wiblSockUrl = "{{ wsURL }}" + wiblSockType + "/detail";
                            const wiblSock = SocketManager.getInstance(wiblSockUrl, wiblSockType);
                            wiblSock.sendRequest("list-wibl-details", {"file_id" : row.id});
                        });
                    }
                }
            }

        });
    </script>

    <script>

        //Drop down logic
        document.addEventListener('DOMContentLoaded', () => {
            const filterSection = document.querySelector('#filterSection');
            const button = document.querySelector('#showButton');
            button.addEventListener('click', () => {
                if (filterSection.className === "box is-hidden") {
                    filterSection.setAttribute("class", "box");
                } else {
                    filterSection.setAttribute("class", "box is-hidden");
                }
            });
        });

        const filterButton = document.getElementById("filterButton");
        const deleteButton = document.getElementById("deleteButton");
        const downloadButton = document.getElementById("downloadButton");
        const clearButton = document.getElementById("clearButton");

        clearButton.addEventListener("click", (event) => {
            let wiblFileTable = document.getElementById("wibl-file-table");
            wiblFileTable.clearCSS();
        })

        filterButton.addEventListener("click", (event) => {
            var wiblFileTable = document.getElementById("wibl-file-table");
            var dateInput = document.getElementById("dateInput");
            var timeInput = document.getElementById("timeInput");
            var platformInput = document.getElementById("platformInput");
            var loggerInput = document.getElementById("loggerInput");

            wiblFileTable.filterTable(dateInput, timeInput, platformInput, loggerInput);
        })

        deleteButton.addEventListener("click", (event) => {
            var wiblFileTable = document.getElementById("wibl-file-table");
            var result = wiblFileTable.getSelectedFiles(0);
            if (result != 0) {
                const wiblSockType = "wibl";
                const wiblSockUrl = "{{ wsURL }}" + wiblSockType + "/table";
                const wiblSock = SocketManager.getInstance(wiblSockUrl, wiblSockType);
                wiblSock.sendRequest("delete-wibl-files", {"file_ids" : result});
                wiblSock.sendRequest("list-wibl-files");
            }
        })
        downloadButton.addEventListener("click", (event) => {
            var wiblFileTable = document.getElementById("wibl-file-table");
            var result = wiblFileTable.getSelectedFiles(1);
            if (result != 0) {
                console.log(`Download files ${result.join('\n')}`);
            }
        })
    </script>
{% endblock %}
