{% extends "base_nav.html" %}

{% load static %}

{% block content %}
    <script src="{% static 'frontend/js/ol.js' %}"></script>
    <script src="{% static 'frontend/js/SocketManager.js' %}"></script>
    <script type="module" src="{% static 'frontend/js/IndexEventManager.js' %}"></script>
    <script type="module" src="{% static 'frontend/js/WIBLDetailTable.js' %}"></script>
    <script type="module" src="{% static 'frontend/js/WIBLFileTable.js' %}"></script>
    <script type="module" src="{% static 'frontend/js/GeojsonDetailTable.js' %}"></script>
    <script type="module" src="{% static 'frontend/js/GeojsonFileTable.js' %}"></script>
    <link rel="stylesheet" href="{% static 'frontend/css/ol.css' %}">
    <section class="container is-fluid">
        <div class="columns is-centered">
            <div class="column"  id="tableColumn">
                <div class="box">
                    <span class="is-size-4 has-text-weight-semibold">WIBL files</span>
                    <label for="linkBox">Link Files</label>
                    <input type="checkbox" id="linkBox" value="true">
                    <div class="block" style="margin-top: 0.5rem;">
                         <wibl-file-table id="wibl-file-table"
                                   url="{{ wsURL }}"
                                   stylesheet="{% static 'css/bulma-no-dark-mode.min.css' %}">
                        </wibl-file-table>
                        <span class="is-hidden" id="filterErrorMessage"></span>
                    </div>
                </div>
                <div class="box">
                    <span class="is-size-4 has-text-weight-semibold">GeoJSON files</span>
                    <div class="block" style="margin-top: 0.5rem;">
                        <geojson-file-table id="geojson-file-table"
                                       url="{{ wsURL }}"
                                       stylesheet="{% static 'css/bulma-no-dark-mode.min.css' %}">
                        </geojson-file-table>
                    </div>
                </div>
                <div class="block">
                    <button id="deleteButton" class="button">Delete Selected</button>
                    <button id="downloadButton" class="button">Download Selected</button>
                    <button class="button" id="mapButton">Map Files</button>
                    <button class="button" id="showButton">Filter</button>
                </div>
                <div class="box is-hidden" id="filterSection">
                    <div class="block">
                        <button class="button" id="filterButton">Apply</button>
                        <button class="button" id="clearButton">Clear</button>
                    </div>
                    <div class="block">
                        <div class="columns">
                            <div class="column is-half">
                                <label for="dateInput">Date</label>
                                <input type="date" class="input" id="dateInput">
                            </div>
                            <div class="column is-half">
                                <label for="timeInput">Time ("HH:MM")</label>
                                <input type="text" class="input" id="timeInput">
                            </div>
                        </div>
                            <label for="platformInput">Platform</label>
                            <input type="text" class="input" id="platformInput">

                            <label for="loggerInput">Logger</label>
                            <input type="text" class="input" id="loggerInput">
                    </div>
                </div>
            </div>
            <div class="column" id="detailColumn">
                <div class="box is-sticky" id="detailBlock">
                    <div class="tabs is-centered is-boxed">
                        <ul>
                            <li class="is-active" data-target="wibl-detail-table"><a>WIBL Details</a></li>
                            <li data-target="geojson-detail-column"><a>Geojson Details</a></li>
                            <li data-target="map"><a>Geojson Map</a></li>
                        </ul>
                    </div>
                    <div id="geojson-detail-column" class="is-hidden">
                        <geojson-detail-table id="geojson-detail-table"
                        url="{{ wsURL }}"
                        stylesheet="{% static 'css/bulma-no-dark-mode.min.css' %}"
                        class="table">
                        </geojson-detail-table>
                        <button id="rawButton" class="button">Display File</button>
                    </div>
                    <wibl-detail-table id="wibl-detail-table"
                        url="{{ wsURL }}"
                        stylesheet="{% static 'css/bulma-no-dark-mode.min.css' %}"
                        class="table">
                    </wibl-detail-table>
                    <div id="map" class="is-hidden" style="width: 100%; height: 500px;"></div>
                    <div id="popup" class="ol-popup">
                      <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                      <div id="popup-content"></div>
                    </div>
                </div>
            </div>
        </div>
        <div id="popupModal" class="modal is-large">
            <div class="modal-background"></div>
            <div class="modal-content">
                <div class="modal-box">
                    <header class="modal-header">
                        <button class="button is-danger" id="closeModal">Close</button>
                    </header>
                    <div class="modal-body">
                        <div class="block">
                            <pre id="geojsonFileContent"></pre>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
        :root {
            --bulma-link-text: hsla(171deg, 100%, 30%, 1);
        }
        #filterErrorMessage {
            font-weight: bold;
        }
        #tableColumn {
            max-width: 47rem;
        }
        #detailColumn {
            max-width: 38rem;
        }

        .is-sticky {
            position: sticky;
            top: 1rem;
        }

        .modal-content {
          width: 90vw;
          height: 90vh;
          max-width: none;
          background: white;
          padding: 0;
          display: flex;
          flex-direction: column;
        }

        .modal-box {
          display: flex;
          flex-direction: column;
          height: 100%;
          overflow: hidden;
        }

        .modal-header {
          padding: 1rem;
          background: #f5f5f5;
          flex: 0 0 auto;
          border-bottom: 1px solid #ddd;
        }

        .modal-body {
          flex: 1 1 auto;
          padding: 1rem;
          overflow-y: auto;
        }

        .ol-popup {
        position: absolute;
        background-color: white;
        box-shadow: 0 1px 4px rgba(0,0,0,0.2);
        padding: 15px;
        border-radius: 10px;
        border: 1px solid #cccccc;
        bottom: 12px;
        left: -50px;
        min-width: 280px;
      }
      .ol-popup:after, .ol-popup:before {
        top: 100%;
        border: solid transparent;
        content: " ";
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;
      }
      .ol-popup:after {
        border-top-color: white;
        border-width: 10px;
        left: 48px;
        margin-left: -10px;
      }
      .ol-popup:before {
        border-top-color: #cccccc;
        border-width: 11px;
        left: 48px;
        margin-left: -11px;
      }
      .ol-popup-closer {
        text-decoration: none;
        position: absolute;
        top: -3px;
        right: 5px;
      }
      .ol-popup-closer:after {
        content: "✖";
      }
    </style>
    <script type="module">

        import { WIBLFileTable } from '/static/frontend/js/WIBLFileTable.js';
        import { GeojsonFileTable } from '/static/frontend/js/GeojsonFileTable.js';
        import { GeojsonMap } from '/static/frontend/js/GeojsonMap.js';
        import { RawFileRetrieve } from '/static/frontend/js/RawFileRetrieve.js';

        const wiblFileTable = document.getElementById("wibl-file-table");
        const geojsonFileTable = document.getElementById("geojson-file-table");

        const wiblDetailTable = document.getElementById("wibl-detail-table");
        const geojsonDetailTable = document.getElementById("geojson-detail-table");


        // Request WIBL file data from the WebSocket once the DOM is ready; do this here instead of in the
        // components to that the request is only sent once.
        setTimeout(() => {
            const wiblSockType = "wibl";
            const wiblSockUrl = "{{ wsURL }}" + "wibl/table";
            const wiblSock = SocketManager.getInstance(wiblSockUrl, wiblSockType);

            const geojsonSockType = "geojson";
            const geojsonSockUrl = "{{wsURL}}" + "geojson/table";
            const geojsonSock = SocketManager.getInstance(geojsonSockUrl, geojsonSockType);

            wiblSock.sendRequest("list-wibl-files");
            geojsonSock.sendRequest("list-geojson-files");
        });

        const closeModal = document.getElementById('closeModal');
        const popupModal = document.getElementById('popupModal');

        closeModal.addEventListener('click', () => {
          popupModal.classList.remove('is-active');
        });

        popupModal.querySelector('.modal-background').addEventListener('click', () => {
          popupModal.classList.remove('is-active');
        });

        // Raw Data
        const rawButton = document.getElementById("rawButton");
        rawButton.addEventListener("click", async (event) => {
            // Queries for the raw JSON from the manager
            const geojsonObject = await RawFileRetrieve.retrieve(geojsonFileTable);
            if (geojsonObject != null) {
                // Apply the content to the modal
                RawFileRetrieve.apply(geojsonObject);
                // Display the Bulma modal
                popupModal.classList.add('is-active');
            }
        });

        // Create a globally accessible reference to the geojsonMap
        const geojsonMap = new GeojsonMap();

        document.addEventListener("DOMContentLoaded", function () {

            // Configure the Open Layers map
            geojsonMap.init(geojsonFileTable);

            // Configure the detail tabs
            const tabs = document.querySelectorAll(".tabs ul li");
            const wiblDetailTable2 = document.getElementById("wibl-detail-table");
            const geojsonDetailColumn2 = document.getElementById("geojson-detail-column");
            const map = document.getElementById("map");

            tabs.forEach(tab => {
                tab.addEventListener("click", function () {
                    tabs.forEach(t => t.classList.remove("is-active"));
                    this.classList.add("is-active");

                    wiblDetailTable2.classList.add("is-hidden");
                    geojsonDetailColumn2.classList.add("is-hidden");
                    map.classList.add("is-hidden");

                    const target = this.getAttribute("data-target");
                    document.getElementById(target).classList.remove("is-hidden");
                });
            });
        });

        /*
        * Delete button logic
        * Must be in index so it can use the wsURL context provided by the index view.
        */
        const deleteButton = document.getElementById("deleteButton");
        deleteButton.addEventListener("click", (event) => {
            let wiblResult = wiblFileTable.getSelectedFiles(0);
            let geojsonResult = geojsonFileTable.getSelectedFiles(0);
            if (wiblResult.length != 0) {
                const wiblSockType = "wibl";
                const wiblSockUrl = "{{ wsURL }}" + wiblSockType + "/table";
                const wiblSock = SocketManager.getInstance(wiblSockUrl, wiblSockType);
                wiblSock.sendRequest("delete-wibl-files", {"file_ids" : wiblResult});
                wiblSock.sendRequest("list-wibl-files");
            }

            if (geojsonResult.length != 0) {
                const geojsonSockType = "geojson";
                const geojsonSockUrl = "{{wsURL}}" + geojsonSockType +"/table";
                const geojsonSock = SocketManager.getInstance(geojsonSockUrl, geojsonSockType);
                geojsonSock.sendRequest("delete-geojson-files", {"file_ids" : geojsonResult});
                geojsonSock.sendRequest("list-geojson-files");
            } else {
                alert("No Files Selected");
            }
        })

        const linkBox = document.getElementById("linkBox");
        let linkFlag = false;

        let linked_files = [];

        function linkFiles() {
            let geojsonFiles = [];
            let wiblFiles = [];
            for (let i = 0; i < geojsonFileTable._rawData.length; i++) {
                const geojsonRaw = geojsonFileTable._rawData[i];
                geojsonFiles.push(geojsonRaw[0]);
            }

            for (let i = 0; i < wiblFileTable._rawData.length; i++) {
                const wiblRaw = wiblFileTable._rawData[i];
                wiblFiles.push(wiblRaw[0]);
            }

            linked_files = [];
            for (let i = 0; i < geojsonFiles.length; i++) {
                for (let x = 0; x < wiblFiles.length; x++) {
                    const geojsonRootFile = geojsonFiles[i].split(".");
                    const wiblRootFile = wiblFiles[x].split(".");
                    if (geojsonRootFile[0] === wiblRootFile[0]) {
                        linked_files.push(wiblRootFile[0]);
                    }
                }
            }
        }

        document.addEventListener("linkFilesEvent", (event) => {
            linkFiles();
        });

        linkBox.addEventListener("change", (event) => {
            if (!linkFlag) {
                linkFiles();
            }
            linkFlag = !linkFlag;
        });

        function tableSelectEvent(fileTable, event) {
            const path = event.composedPath();
            const check = path.find(el => el.tagName === "INPUT");
            if (!check) {
                const row = path.find(el => el.tagName === "TR");
                if (row) {
                    if (row.className !== "headerRow") {
                        fileTable.clearSelected();

                        row.setAttribute("class", "is-selected");

                        let linked_file_exists = false;
                        if (linkFlag === true) {
                            const root_file = row.id.split(".")[0];
                            linked_files.forEach(linked_file => {
                                 if (root_file === linked_file) {
                                     linked_file_exists = true;
                                 }
                            });
                        }

                        /*
                        * This section reuses a large amount of code depending on the file type.
                        * Can be made cleaner.
                        */
                        setTimeout(() => {
                            if (fileTable instanceof WIBLFileTable) {

                                // Select the correct tab
                                const tabs = document.querySelectorAll(".tabs ul li");
                                let wiblTab;
                                tabs.forEach((tab) => {
                                    if (tab.getAttribute("data-target") === "wibl-detail-table") {
                                        wiblTab = tab;
                                    }
                                });
                                wiblTab.click();

                                const wiblSockType = "wibl";
                                const wiblSockUrl = "{{ wsURL }}" + wiblSockType + "/detail";
                                const wiblSock = SocketManager.getInstance(wiblSockUrl, wiblSockType);

                                const wiblFileId = row.id;
                                const rawButton = document.getElementById("rawButton");
                                if (linkFlag) {
                                    geojsonFileTable.clearSelected();
                                } else {
                                    rawButton.classList.remove("is-hidden");
                                }

                                if (linked_file_exists) {
                                    let geojsonFileId = row.id.split(".")[0];
                                    geojsonFileId += ".geojson";

                                    const geojsonRow = geojsonFileTable._shadow.getElementById(geojsonFileId);

                                    if (geojsonRow.classList.contains("is-hidden")) {
                                        geojsonDetailTable.clear();
                                        rawButton.classList.add("is-hidden");
                                    } else {
                                        geojsonRow.classList.add("is-selected");
                                        rawButton.classList.remove("is-hidden");

                                        const geojsonSockType = "geojson";
                                        const geojsonSockUrl = "{{wsURL}}" + geojsonSockType + "/detail";
                                        const geojsonSock = SocketManager.getInstance(geojsonSockUrl, geojsonSockType);

                                        geojsonSock.sendRequest("list-geojson-details", {"file_id" : geojsonFileId});
                                    }
                                } else {
                                    if (linkFlag) {
                                        geojsonDetailTable.clear();
                                        rawButton.classList.add("is-hidden");
                                    }
                                }
                                wiblSock.sendRequest("list-wibl-details", {"file_id" : wiblFileId});

                            } else if (fileTable instanceof GeojsonFileTable) {

                                // Select the correct tab
                                let geoTab;
                                const tabs = document.querySelectorAll(".tabs ul li");
                                tabs.forEach((tab) => {
                                    if (tab.getAttribute("data-target") === "geojson-detail-column") {
                                        geoTab = tab;
                                    }
                                });
                                geoTab.click();

                                const geojsonSockType = "geojson";
                                const geojsonSockUrl = "{{ wsURL }}" + geojsonSockType + "/detail";
                                const geojsonSock = SocketManager.getInstance(geojsonSockUrl, geojsonSockType);

                                const geojsonFileId = row.id;

                                if (linkFlag) {
                                    wiblFileTable.clearSelected();
                                } else {
                                    const rawButton = document.getElementById("rawButton");
                                    rawButton.classList.remove("is-hidden");
                                }

                                if (linked_file_exists) {
                                    let wiblFileId = row.id.split(".")[0];
                                    wiblFileId += ".wibl";

                                    const wiblRow = wiblFileTable._shadow.getElementById(wiblFileId);
                                    if (wiblRow.classList.contains("is-hidden")) {
                                        wiblDetailTable.clear();
                                    } else {
                                        wiblRow.classList.add("is-selected");

                                        const wiblSockType = "wibl";
                                        const wiblSockUrl = "{{ wsURL }}" + wiblSockType + "/detail";
                                        const wiblSock = SocketManager.getInstance(wiblSockUrl, wiblSockType);
                                        wiblSock.sendRequest("list-wibl-details", {"file_id" : wiblFileId});
                                    }
                                } else {
                                    if (linkFlag) {
                                        wiblDetailTable.clear();
                                    }
                                }

                                geojsonSock.sendRequest("list-geojson-details", {"file_id" : geojsonFileId});
                            }
                        });
                    }
                }
            }
        }

        wiblFileTable.addEventListener("click", (event) => {
            tableSelectEvent(wiblFileTable, event);
        });

        //Detail File Table Logic
        geojsonFileTable.addEventListener("click", (event) => {
            tableSelectEvent(geojsonFileTable, event);
        });

    </script>
{% endblock %}
