**/.terraform/
local/
certs/
db/
aws-build/
add-logger
scripts/cloud/Terraform/aws/create-terraform-state-bucket.json
scripts/cloud/Terraform/aws/enable-terraform-state-bucket-versioning.json
scripts/cloud/Terraform/aws/*.pem
